.App {
  text-align: center;
}

.navheader {
  color: black !important;
  background-color: #b8bfcf!important;
}

h1 {
	text-align: center;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}